<!DOCTYPE html>
<html ng-app="gae-standards">
<head>
    <title>Topgate, Inc. GAE development standards</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="/css/print.css" media="print" rel="stylesheet" type="text/css">
    <!--[if IE]>
    <link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css">
    <![endif]-->

    <script type="text/javascript" src="/scripts/main.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.0/pure-min.css">
</head>
<body>
    <div class="pure-g-r" style="margin:10px">
        <div class="pure-u" ng-controller="TodoController">
            <div ng-show="todos.length == 0" style="display:none">
                <h2>TODO is nothing!!</h2>
            </div>
            <div ng-show="todos.length > 0" style="display:none">
                <h2>Hello!! My TODO</h2>
            </div>
            <form class="pure-form">
                <input type="radio" name="orderByType" ng-model="order" value="id" checked/>昇順
                <input type="radio" name="orderByType" ng-model="order" value="-id"/>降順

                <table class="pure-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Created By</th>
                            <th>Created At</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="todo in todos | orderBy:order" ng-controller="TodoItemController">
                            <td>{{todo.id}}</td>
                            <td><input type="text" ng-model="todo.title"></td>
                            <td>{{todo.createdBy}}</td>
                            <td>{{todo.createdAt}}</td>
                            <td ng-click="remove()"><button class="pure-button" >Delete</button></td>
                            <td ng-click="modify()"><button class="pure-button" >Modify</button></td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div class="pure-control-group">
                    <label for="newContent">追加するタイトル</label>
                    <input type="text" id="newContent" ng-model="newContent">
                    <button class="pure-button" ng-click="add()">Add</button>
                </div>
<!--
        <input type="text" ng-model="targetId">
        <button ng-click="modify()">更新する</button>
-->
            </form>
        </div>
<!--
<div ng-view>
</div>

<script type="text/ng-template" id="/template/sample.html">
    <div ng-controller="SampleTestController">
        <input type="text" ng-model="name">
        {{name}}
    </div>
</script>

<script type="text/ng-template" id="/template/main.html">
    <p>
        メインです。<br>
        <a ng-href="/sample">サンプル</a>
    </p>
</script>
-->
    </div>
</body>
</html>
